<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>  
      <ion-breadcrumb class="xx-large" >
        <ion-icon class="xx-large" color="light" slot="start" name="cart-outline"></ion-icon>
        <ion-label class="large" color="light">Venta</ion-label>
      </ion-breadcrumb>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12" size-sm="10" size-md="8" size-lg="6" size-lg="4">
        <ion-card color="grey">
          <ion-card-header>
            <ion-card-title>Recuperar contraseña</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col>
                Lo entendemos, son cosas que pasan. ¡Simplemente ingrese su dirección de correo electrónico a continuación y
                le enviaremos un enlace para restablecer su contraseña!
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item fill="outline">
                  <ion-label position="block">Email</ion-label>
                  <ion-input type="email" ></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button expand="block"><ion-icon name="refresh-circle-outline" slot="start"></ion-icon>Restablecer contraseña</ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
