div .tablaVenta{ 
-webkit-text-size-adjust: 100%;
font-size: 1rem;
text-align: left;
font-family: "Roboto", "Helvetica", "Arial", sans-serif;
line-height: 1.5em;
color: #3C4858;
font-weight: 300;
box-sizing: border-box;
-webkit-tap-highlight-color: transparent;
-webkit-font-smoothing: antialiased;
position: relative;
width: 100%;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
flex: 0 0 50%;
max-width: 50%;
}